llama-cpp-python 
fastapi 
uvicorn 
streamlit 
huggingface-hub
langchain-community
gradio
sentence-transformers
faiss-cpu
unstructured[all-docs]
langchain_huggingface
langchain-elasticsearch
langsmith
guidance
datasets
#streamlit-chat